nav {
  background: #F9F9F9; /* цвет фона*/
  width: 300px; /*ширина блока*/
  position: fixed;/*позиция не меняется*/
  top: 20px; /*отступ сверху*/
  left: 10px; /*отступ слева*/
  padding: 10px;/*внутренний отступ*/
  box-sizing: border-box; /*говорит браузеру учитывать любые границы и внутренние отступы для высоты и ширины эл*/
  opacity: .1;
  transition: all .5s ease;
}
nav:hover {
  opacity: 1;
  transition: all .1s ease;
}

nav p{
  margin: 0;
  font-weight: bold;
  font-size: 14px !important;
}
nav a{
  text-decoration: none;
  font-size: 12px !important;
}
nav ul {
  list-style-type: none;
  width: 100%;
}
nav li{
  
}
