nav {
  background: #F9F9F9; /* цвет фона*/
  width: 400px; /*ширина блока*/
  position: fixed;/*позиция не меняется*/
  top: 50px; /*отступ сверху*/
  left: 10px; /*отступ слева*/
  padding: 5px;/*внутренний отступ*/
  box-sizing: border-box; /*говорит браузеру учитывать любые границы и внутренние отступы для высоты и ширины эл*/
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90vh;
  display: block;
  padding-bottom: 10px;
  opacity: .1;
  transition: all .5s ease;
}
nav:hover {
  opacity: 1;
  transition: all .1s ease;
}

nav p{
  margin: 0;
  font-weight: bold;
  font-size: 14px !important;
}
nav a{
  text-decoration: none;
  font-size: 12px !important;
}
nav ul {
  list-style-type: none;
  width: 100%;
}
nav li{

}
